#pytest cache
.pytest_cache/

__pycache__

#environments
dzvenv/
venv/

#logs
geckodriver.log

#etc
.idea/

password
password/*.*
password/*/*.*
*/password
*/password/*.*password

**/tests/test_wait.py
**/tests/test_home_page.py
**/tests/opencart_url.py

logs/
tests/logs/
